<div data-aos="fade-right" class="life-info">
  <img [src]="life" class="life-img" alt="" />
  <div class="life">
    <h2 >Life Insurance</h2>
    <p>
      Life insurance is a protection for your loved ones. It can act as a
      solution to your child’s college fees, daughter’s marriage, tax saver and
      family cover after death. Buy once and be worry free for whole life.
    </p>
    <button>Explore</button>
  </div>
</div>

<div data-aos="fade-up" class="middle">
  <div  class="motor-info">
    <div class="motor">
      <h2>Motor Insurance</h2>
      <p>
        Motor insurance protects against loss of due to theft, traffic accidents
        or fire, explosion etc. Also it is mandatory by the Indian Government.
      </p>
      <button>Explore</button>
    </div>
    <img [src]="motor" class="motor-img" alt="" />
  </div>
  <div class="health-info">
    <div class="health">
      <h2>Health Insurance</h2>
      <p>
        No one plans to get sick or hurt, but most people need medical care at
        some point. Health insurance helps pay these costs.
      </p>
      <button>Explore</button>
    </div>
    <img [src]="health" class="health-img" alt="" />
  </div>
</div>

<div data-aos="fade-left" class="real-estate-info">
  <img [src]="home" class="real-estate-img" alt="" />
  <div class="real-estate">
    <h2>Real Estate</h2>
    <p>
      The most preferred and assured form of investing money and getting the
      best returns
    </p>
    <button>Explore</button>
  </div>
</div>
