<header>
    <img [src]="imageUrl" alt="">
    <nav>
      <div class="list">
        <ul class="main-menu">
          <li><a href="#">Home</a></li>
          <li>
            <div class="dropdown">
              <a class="dropbtn"
                >Insurance <mat-icon>
                  arrow_drop_down
                  </mat-icon>
              </a>
              <div class="dropdown-content">
                <a routerLink="/insurance">Life Insurance</a>
                <a href="#">Motor Insurance</a>
                <a href="#">Health Insurance</a>
              </div>
            </div>
          </li>
          <li><a href="#">Property</a></li>
          <li><a href="#">Software Solution</a></li>
          <li>
            <div class="dropdown">
              <a class="dropbtn"
                >Claims<mat-icon>
                  arrow_drop_down
                  </mat-icon></a>
              <div class="dropdown-content">
                <a href="#">Health Claim</a>
                <a href="#">Motor Claim</a>
              </div>
            </div>
          </li>
          <li><a href="#">Clietele</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </header>