<footer data-aos="fade-up"
data-aos-anchor-placement="center-bottom">
<div class="upper">
<ul>
    <li><a href="#"></a>Home</li>
    <li><a href="#"></a>Insurance</li>
    <li><a href="#"></a>Property</li>
    <li><a href="#"></a>Software Solution</li>
    <li><a href="#"></a>Claims</li>
    <li><a href="#"></a>Clientele</li>
    <li><a href="#"></a>Contact Us</li>
</ul>
<div class="icons">
    <a href=""><fa-icon [icon]="mylinkedin" class="icon"></fa-icon>
    </a>
    <a href=""><fa-icon [icon]="mytwitter" class="icon"></fa-icon>
    </a>
    <a href=""><fa-icon [icon]="myfacebook" class="icon"></fa-icon>
    </a>
</div>
</div>
<div class="middle">
    <h1>Yogakshema</h1>
</div>
<div class="lower">
    <p>COPYRIGHT © 2024 &#64; Yogakshmeaonline. Designed by Ocean Technosys</p>
</div>

</footer>