<div class="main">
<div data-aos="fade-up"
data-aos-duration="3000" class="left">
    <img [src]="img1" class="group1"  alt="">
</div>
<div data-aos="fade-left"
data-aos-anchor="#example-anchor"
data-aos-offset="500"
data-aos-duration="500" class="right">
    <h2>Who we are</h2>
    <p>We are a one stop solution provider with our wide range of services. We provide all kinds of insurance solutions, Software Solutions, real estate etc since our establishment.
        Our Team of experts is well experienced to understand your need and provide a best possible solution to suit your need.</p>
    <div data-aos="fade-up"
    data-aos-duration="3000" class="down">
        <img [src]="img2" class="group2" alt="">
        <img [src]="img3" class="group3" alt="">
    </div>
</div>
</div>