<div class="main">
<h1> <span> Protecting </span> Your Future, <br/> Ensuring Your <span>Peace</span> </h1>
<p>Yogakshema came from the Sanskrit language which means “take care of yourself”. <br> We at Yogakshema, works exactly for the same and take care of all your personal care solutions.</p>

<img [src]="img1" class="chart"  alt="">
<img [src]="img2" class="business"  alt="">
<img [src]="img3" class="card"  alt="">
<img [src]="img4" class="doc"  alt="">
<img [src]="img5" class="note"  alt="">
</div>
