/* .trust {
  margin-top: 1rem;
} */
hr{
    border: 1px solid #737373;
    width: 98%;
}

h4{
    position: absolute;
    color: #434343;
    font-family: "Roboto Flex", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    left: 10rem;
    top: 48.8rem;
    padding-left: .2rem;
    padding-right: .2rem;
    background: #DFF6FD;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  /* background: white; */
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #f0f2f9);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f0f2f9);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
