<div class="trust">
<h4>Trusted Partners</h4>
<hr>
<div class="logos">
  <div class="logos-slide">
  <img [src]="img1" class="img1" alt="" />
  <img [src]="img2" class="img2" alt="" />
  <img [src]="img3" class="img3" alt="" />
  <img [src]="img4" class="img4" alt="" />
  <img [src]="img5" class="img5" alt="" />
  <img [src]="img6" class="img6" alt="" />
  <img [src]="img7" class="img7" alt="" />
  <img [src]="img8" class="img8" alt="" />
  <img [src]="img9" class="img9" alt="" />
  <img [src]="img10" class="img10" alt="" />
  <img [src]="img11" class="img11" alt="" />
</div>

  <div class="logos-slide">
  <img [src]="img1" class="img1" alt="" />
  <img [src]="img2" class="img2" alt="" />
  <img [src]="img3" class="img3" alt="" />
  <img [src]="img4" class="img4" alt="" />
  <img [src]="img5" class="img5" alt="" />
  <img [src]="img6" class="img6" alt="" />
  <img [src]="img7" class="img7" alt="" />
  <img [src]="img8" class="img8" alt="" />
  <img [src]="img9" class="img9" alt="" />
  <img [src]="img10" class="img10" alt="" />
  <img [src]="img11" class="img11" alt="" />
</div>
 
</div>
<div class="click" id="life"></div>
</div>  
  
  
  
