.life{
    background-color: #CAFEF3;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    width: 55rem;
}
.motor{
    background-color: #FFDACD;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    width: 55rem;
}
.health{
    background-color: #F1D1FF;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    width: 55rem;
}
.home{
    background-color: #D1EAFF;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    width: 55rem;
}

.heading{
    display: flex;
}

h3{
    padding-left: .5rem;
    margin: 0;
    margin-top: .4rem;
    font-size: 1.5rem;
    font-weight: 400;
}

p{
    color: #434343;
}

mat-icon{
    padding: .5rem;
    background-color: #fff;
    border-radius: 50%;
    color: #434343;
}

.info{
    padding: 2rem;
}

.insurance-info{
    display: flex;
}

button {
    border: none;
    /* padding: 1rem; */
    border-radius: 20px;
    background: none;
    display: flex;
    padding-top: .5rem;
}

button mat-icon{
    transform: rotate(320deg);
    background: none;
}


button:hover{
    background: #0b1623;
    transition: .3s;
    color: #fff;
    cursor: pointer;
}

button:hover mat-icon{
    color: #000;
    transform: rotate(360deg);
    transition: .3s;
    background: #fff;
    margin-left: 5rem;
}

button:hover mat-icon:hover{
    background: #c9c9c9;
    transform: rotate(320deg);
}

button h4 {
    margin-top: .7rem;
    /* margin-right: 1rem; */
    padding: .2rem;
}


.motor button{
    margin-top: 2rem;
}

.health button{
    margin-top: 4rem;
}

.home button{
    margin-top: 5rem;
}