<div data-aos="zoom-in" class="insurance-info">
<div class="life">
    <div class="info">
    <div class="heading">
        <mat-icon>person</mat-icon>
        <h3>Life Insurance</h3>
    </div>
    <p>Life insurance is a protection for your loved ones. It can act as a solution to your child’s college fees, daughter’s marriage, tax saver and family cover after death. Buy once and be worry free for whole life.</p>
    <button><h4>Read More</h4> <mat-icon>
        arrow_right_alt
        </mat-icon></button>
</div>
</div>
<div data-aos="zoom-in" class="motor">
    <div class="info">
    <div class="heading">
        <mat-icon>directions_car</mat-icon>
        <h3>Motor Insurance</h3>
    </div>
    <p>Motor insurance protects against loss of due to theft, traffic accidents or fire, explosion etc. Also it is mandatory by the Indian Government.</p>
    <button><h4>Read More</h4>  <mat-icon>
        arrow_right_alt
        </mat-icon></button>
</div>
</div>
<div data-aos="zoom-in" class="health">
    <div class="info">
    <div class="heading">
        <mat-icon>volunteer_activism</mat-icon>
        <h3>Health Insurance</h3>
    </div>
    <p>No one plans to get sick or hurt, but most people need medical care at some point. Health insurance helps pay these costs.</p>
    <button><h4>Read More </h4> <mat-icon>
        arrow_right_alt
        </mat-icon></button>
</div>
</div>
<div data-aos="zoom-in" class="home">
    <div class="info">
    <div class="heading">
        <mat-icon>home</mat-icon>
        <h3>Real Estate</h3>
    </div>
    <p>The most preferred and assured form of investing money and getting the best returns</p>
    <button><h4>Read More </h4> <mat-icon>
        arrow_right_alt
        </mat-icon></button>
</div>
</div>
</div>  